<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding-left: 10px;">
  <a class="navbar-brand" [routerLink]="['']">Accueil</a>
  <button class="navbar-toggler" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/vol-meteo']">Rechercher ma météo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"[routerLink]="['/connexion']">Se connecter</a>
      </li>
    </ul>
  </div>
</nav> -->


<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light static-top mb-5 shadow">
  <div class="container">
    <a class="navbar-brand" href="#">Découvrez note application : Mon Vol - Ma météo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['']">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/connexion']">Se connecter</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="mt-5"> 
  <router-outlet></router-outlet>
</div>
  <router-outlet></router-outlet>
