<body>
      <!-- Page Content -->
  <div class="container p-5">
    <div class="card border-0 shadow m-5 rounded-5" style="background-color:rgb(255, 255, 255, 0.8);">
      <div class="card-body p-5">
        <h1 class="fw-light" style="text-align: center">Trouvez la météo de votre destination</h1>
        <p class="lead">Renseignez votre numéro de vol pour connaitre la météo dans le pays de destinantion à votre arrivé</p>
        <form class="row g-3" #formFlight="ngForm">
            <label for="numeroVol">Numéro de vol:</label>
            <input class="form-control" type="text" id="numeroVol" #numeroVol/>
            <button class="btn btn-primary" (click)="getVol(numeroVol.value)">Enregister</button>
        </form>
        
        <div class="row g-3 mt-5" *ngIf="afficher">
            <div class="col-6">      <div class="card" style="width: 100%;">
                <div class="card-header" style="text-align: center;">
                    Votre vol
                  </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Vous voyagez avec : {{vol.name}}</li>
                  <li class="list-group-item">De : {{ vol.departure_municipalityName}}</li>
                  <li class="list-group-item">Heure de départ :         {{ vol.departure_scheduledTimeLocal | date:'d MMMM y       à      HH : mm' :'': 'fr-FR'}}</li>
                  <li class="list-group-item">A destination de : {{ vol.arrival_municipalityName}} </li>
                  <li class="list-group-item">Heure d'arrivé :   {{ vol.arrival_scheduledTimeLocal | date:'d MMMM y  à   HH : mm' :'': 'fr-FR'}}</li>
                </ul>
               
            </div>
        </div>
        <div class="col-6">      <div class="card" style="width: 100%;">
            <div class="card-header" style="text-align: center;">
                Votre météo
              </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" style="padding-left:40%"><img src="http://openweathermap.org/img/wn/{{meteo.icon}}@2x.png" alt=""></li>
              <li class="list-group-item">Température : {{ meteo.temp }}°C</li>
              <li class="list-group-item">Déscription : {{ meteo.description }}</li>
            </ul>
           
        </div>
    </div>
      
            
            <div class="row g-3" style="text-align: center;">
                <p class="lead">Vous êtes fin prêt pour prendre l'avion !</p>
            </div>
        </div>

      
      </div>
    </div>
  </div>
</body>



