body {
    background-image: url(../../assets/img/kalen-emsley-Bkci_8qcdvQ-unsplash.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }