<header>

    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      
      <div class="carousel-inner">
        <div class="carousel-item active" style="background-image: url(assets/img/airplane-unsplash.jpg)">
          <div class="carousel-caption">
            <h1>Mon Vol - Ma météo</h1>
            <p>Préparez votre arrivé avec notre application</p>
          </div>
        </div>
      </div>
    </div>
  </header>
  
  <!-- Page Content -->
  <section class="py-5">
    <div class="container">
      <h1 class="fw-light">Vous partez en voyage ?</h1>
      <p class="lead">Anticipez la météo de votre arrivé dans le pays de destination en entrant simplement votre numéro de vol ! Fini les tee-shirt alors que  vous auriez du prévoir un parapluie ou les écharpes sous 40°C !</p>
      <p class="lead">Découvrez dès maintenant l'experience Mon Vol - Ma météo en cliquant ici : <a [routerLink]="['/connexion']">ici</a> !</p>
    </div>
  </section>
